.outer-discover {
    height: 100vh;
    background: 
        linear-gradient(
            rgba(255, 160, 122, 0.5),
            rgba(255, 160, 122, 0.5)
        ),
        url(../images/discover_bg.jpg);
}

#logo {
    display: block;
    margin: 50px auto 50px auto; /* top left bottom right */
}

.bandi-button.discover {
    background-color: rgba(214, 34, 34, 0.281);
    padding: 5px 25px 5px 25px;    
}

.rounded.text-white.jumbotron {
    margin-top: 0px;
    padding: 25px;
    background-clip: padding-box;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-bottom-width: 7px;
    background-color: rgb(207, 127, 207);
    background-color: rgb(255, 160, 122);
    font-family: 'Consolas';

}
