.outer-musician-search {
    height: 100%;
    background: 
        linear-gradient(
            rgba(122, 235, 255, 0.5),
            rgba(122, 235, 255, 0.5)
        ),
        url(../images/discover_bg.jpg);
}

.justify-content-sm-left.row {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(116, 174, 228);
    border-top-width: 2px;
    border-bottom-width: 4px;
    border-left-width: 3px;
    font-family: 'Consolas';
}

.justify-content-sm-left.row h5 {
    margin-left: 20px;
    margin-right: 10px;
}

.justify-content-sm-left.row input {
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
}

.justify-content-sm-left.row #name-input {
    width: 73%;
}

.justify-content-sm-left.row #instrument-input {
    width: 54%;
}

.justify-content-sm-left.row #genre-input {
    width: 70%;
}

.justify-content-sm-left.row #distance-input {
    width: 35%;
}

#submit-button-row {
    background-color: transparent;
    border-style: none;
}

.btn.btn-outline-dark {
    margin-left: auto;
    margin-right: auto;
    font-family: "Consolas";
    border-width: 1px;
    background-color: rgb(69, 84, 219);
    border-top-width: 2px;
    border-bottom-width: 4px;
    border-left-width: 3px;
}

.bandi-button {
    padding: 5px 10px 5px 10px;
    font-family: "Consolas";
    border-width: 1px;
    border-style: solid; 
    border-color: black;
    border-top-width: 2px;
    border-bottom-width: 4px;
    border-left-width: 3px;
    border-radius: 7px;
}

.bandi-button.view-more {
    width: 170px;
    background-color: rgb(69, 84, 219);
}



#musician-search-submit {
    background-color: rgb(69, 84, 219);
}

.card {
    background-image: none;
    box-sizing: unset;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: rgb(116, 174, 228);
    border-top-width: 2px;
    border-bottom-width: 4px;
    border-left-width: 3px;
    font-family: 'Consolas';
}

.small.font-italic.card-text {
    padding-left: 10px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    
}