.outer-musician-search {
    height: 100%;
    background: 
        linear-gradient(
            rgba(122, 235, 255, 0.5),
            rgba(122, 235, 255, 0.5)
        ),
        url(../images/discover_bg.jpg);
}

.justify-content-sm-left.row {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(116, 174, 228);
    border-top-width: 2px;
    border-bottom-width: 4px;
    border-left-width: 3px;
    font-family: 'Consolas';
}

.justify-content-sm-left.row h5 {
    margin-left: 20px;
    margin-right: 10px;
}

.justify-content-sm-left.row input {
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
}

.justify-content-sm-left.row #name-input {
    width: 73%;
}

.justify-content-sm-left.row #instrument-input {
    width: 54%;
}

.justify-content-sm-left.row #genre-input {
    width: 70%;
}

.justify-content-sm-left.row #distance-input {
    width: 35%;
}

#submit-button-row {
    background-color: transparent;
    border-style: none;
}

.bandi-button {
    padding: 5px 10px 5px 10px;
    font-family: "Consolas";
    border-width: 1px;
    border-style: solid; 
    border-color: black;
    border-top-width: 2px;
    border-bottom-width: 4px;
    border-left-width: 3px;
    border-radius: 7px;
}

.bandi-button.view-more {
    width: 170px;
    background-color: rgb(69, 84, 219);
}

#musician-search-submit {
    background-color: rgb(69, 84, 219);
}

.card {
    background-image: none;
    box-sizing: unset;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: rgb(116, 174, 228);
    border-top-width: 2px;
    border-bottom-width: 4px;
    border-left-width: 3px;
    font-family: 'Consolas';
}

.small.font-italic.card-text {
    padding-left: 10px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    
}

.modal-content {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-bottom-width: 3px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgb(116, 174, 228);
}

.modal-title.h4 {
    text-align: center;
    font-weight: bold;
    font-family: "Consolas";
    font-stretch: expanded;
    background-color: white;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-top-width: 2px;
    border-bottom-width: 4px;
    border-left-width: 3px;
    border-color: black;
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
}

.modal-body h5 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Consolas";
    padding: 2px 10px 2px 10px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    background-color: rgba(170, 249, 255, 0.815);
    border-top-width: 2px;
    border-bottom-width: 4px;
    border-left-width: 3px;
}

#friends-badge {
    background-color: aquamarine;
}

#pending {
    background-color: rgb(178, 185, 181);
}

#close {
    background-color: rgb(128, 137, 226);
}