spanner{
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  //font-size:120px;
  letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.25px;
  -webkit-text-stroke-color: aquamarine;
  text-shadow:
          orange,
          white;
}